{% extends 'registration/login_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "registration/login/images/bg-01.jpg"%}');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                {% if form.non_field_errors %}
                    <div class="non-field-errors alert alert-danger" style='direction:rtl;'>
                        {% for err in form.non_field_errors %}
                          <p class="text-error" style='color:red;'>{{ err }}</p>
                        {% endfor %}
                      </div>
                {% endif %}
                <form method='post' class="login100-form validate-form flex-sb flex-w">{% csrf_token %}
                	<div class='alert alert-warning' style='direction:rtl'>
                		<h4>ایجاد گذرواژه جدید</h4>
                		<hr>
                		<p style="font-size: 18px;">گذرواژه خود را فراموش کرده اید؟ آدرس ایمیل خود را وارد کنید و ما مراحل تعیین کلمه عبور جدید را برای شما ایمیل میکنیم.</p>
                	</div>
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "email is required">
                        {{form.email|add_class:"input100"}}
                        <span class="focus-input100"></span>
                        {% if form.email.errors %}
							<div class="errors">
								{% for error in form.email.errors %}
									<span>{{error}}</span>
								{% endfor %}
                            </div>
                        {% endif %}
                    </div>
					<div class="container-login100-form-btn m-t-17">
						<button type='submit' class="login100-form-btn">
							ایجاد گذر واژه جدید
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}