{% extends 'registration/login_base.html' %}
{% load static %}


{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "registration/login/images/bg-01.jpg"%}');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <div class='alert alert-success'>
                	<p style="font-size: 18px;">رمز عبور شما با موفقیت تغییر یافت برای ورود دوباره <a href="{% url 'login' %}">کلیک</a> کنید</p>
                </div>
			</div>
		</div>
	</div>
{% endblock %}