{% extends 'registration/login_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "registration/login/images/bg-01.jpg"%}');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <div class='alert alert-warning' style='direction:rtl'>
            		<h4>گذرواژه جدید ایجاد شد</h4>
            		<hr>
            		<p style="font-size: 18px;">گذرواژه جدیدتان تنظیم شد. اکنون میتوانید وارد وبگاه شوید.</p>
            		<a href="{% url 'login' %}">ورود</a>
                </div>
			</div>
		</div>
	</div>
{% endblock %}