{% extends 'registration/login_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "registration/login/images/bg-01.jpg"%}');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				{% if validlink %}
	                {% if form.non_field_errors %}
	                    <div class="non-field-errors alert alert-danger" style='direction:rtl;'>
	                        {% for err in form.non_field_errors %}
	                          <p class="text-error" style='color:red;'>{{ err }}</p>
	                        {% endfor %}
	                      </div>
	                {% endif %}
	                <div class='alert alert-warning' style='direction:rtl'>
	            		<h4>ورود گذرواژه جدید</h4>
	            		<hr>
	            		<p style="font-size: 18px;">گذرواژه جدیدتان را دوبار وارد کنید تا ما بتوانیم چک کنیم که به درستی تایپ کرده اید.</p>
	                </div>
	                <form method='post' class="login100-form validate-form flex-sb flex-w">{% csrf_token %}
						<div class="p-t-31 p-b-9">
							<span class="txt1">
								New Password
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "password is required">
	                        {{form.new_password1|add_class:"input100"}}
	                        <span class="focus-input100"></span>
	                        {% if form.new_password1.errors %}
								<div class="errors">
									{% for error in form.new_password1.errors %}
										<span>{{error}}</span>
									{% endfor %}
	                            </div>
	                        {% endif %}
	                    </div>
	                    <div class="p-t-31 p-b-9">
							<span class="txt1">
								Confirm Password
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "password is required">
	                        {{form.new_password2|add_class:"input100"}}
	                        <span class="focus-input100"></span>
	                        {% if form.new_password2.errors %}
								<div class="errors">
									{% for error in form.new_password2.errors %}
										<span>{{error}}</span>
									{% endfor %}
	                            </div>
	                        {% endif %}
	                    </div>
						<div class="container-login100-form-btn m-t-17">
							<button type='submit' class="login100-form-btn">
								تغییر گذر واژه
							</button>
						</div>
					</form>
				{% else %}
					<div class='alert alert-warning' style="direction:rtl;">
						<p style="font-size: 18px">لینک شما منقضی شده است لطفا مجدداً تلاش کنید</p>
						<p style="font-size: 18px">برای ارسال مجدد لینک بازیابی <a style="font-size: 18px" href="{% url 'password_reset' %}">کلیک</a> کنید</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}